<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<style>
      #na{
            background: linear-gradient(to right,#0f04d6,#6C63FF);
        }
</style>
<body>
    <nav id="na" class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
          <a style="color: white;" class="navbar-brand" href="/">Traffic Signs Recognition</a>
          <a style="color: white;" class="navbar-brand" href="/">Go to Home</a>
        </div>
    </nav><br>
    <center>
    <h1>Know more about Traffic Signs</h1>
    <br>
<img height="300px" src="../static/71NYgMyVHVL.jpg" alt="" srcset="">
<img height="300px" src="../static/71smG0yvOEL.jpg" alt="" srcset="">
<br><br><br>
<h4>
    STOP Sign: This is the most easily recognizable sign. It is important for every kid to know that a Stop sign is put up at places where the driver needs to bring his vehicle to a halt. This allows the kids to pass through the road without any risk of an accident. The kids should know to cross a road only where Stop sign is put and only after the vehicles have come to a stop to let the children make their way through the road.
<br><br>

School Crossing Sign: As is self-explanatory, these signs are put where children cross the street right outside the school. These signs are used to communicate to the driver to come to a stop in case kids are about to cross a road. Also, children should make sure to pass through the street only where these signs are put up.
<br><br>
Slow- Children At Play Sign: Again, as is self-explanatory, this sign tells the driver to slow down and be alert of children that might end up on a street from the nearby play-zones. However, children should also be taught to be careful while playing. Parents should ask their kids to not play on the road as there is an increased risk of an accident on a public street
<br><br>
Seat Belt- Buckle Up Sign: Seat belts are compulsory for both driver and front passenger in a vehicle. However, children are at a much higher risk of getting hurt than adults and hence, it’s advisable for all kids to buckle up regardless of where they are sitting in a vehicle. Seat belt signs are usually installed along most roads and serve as an effective reminder to the vehicle occupants to use seat belts.
<br><br>
<h2>Functions of traffic signs</h2>
<br>
<h5>
It is important for all drivers to know about the traffic signs or the road safety signs in order to ensure the safety of himself as well as others. The basic functions of traffic signs include-
<br>
Inform road users of the distance left to cover to reach a destination.
<br>
Inform roads users of the alternative routes to a destination
<br>
Caution road users of hazards near areas such as schools and colleges
<br>
Inform road users of specific locations such as those of public convenience outlets, restaurants and hospitals
<br><br>
</h5>
</center>
</body>
</html>